/* import typefaces*/
@import url("https://use.typekit.net/yab5ixf.css");

// ******  begin variables  ******
//typeface stack
$font-stack: hero-new, sans-serif;
//standard font weights
$thin-weight: 100;
$ultraLight-weight: 200;
$light-weight: 300;
$regular-weight: 400;
$semibold-weight: 600;
$bold-weight: 700;

//test border for problem solving/troubleshooting
$tB: 2px solid red;

//color palette variables
$primary-color: #0063ff;
$secondary-color: #6200ea;
$bg-color: #fff;
$btn-shadow-color: #4f44aa;

//shadow variables
$box-shadow: 3px 3px 3px #0000004d;

//input variables
$input-border: 2px solid #5e6367;
$input-bgColor: #F2F4F8;
$input-focusColor: 0 0 3px $primary-color;

// fx variables
$trans-3s: all 0.3s ease-in-out;



/* Lemon reset, or also known as the Meyer reset used to help with browser inconsistancies */
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: $font-stack;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
  line-height: 1;
  background-color: $bg-color;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  border: none;
}
/*General html Rules*/
html {
  font-size: 12px;
  font-family: $font-stack;
  margin: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: inherit;
}
h1,
h2 {
  text-transform: capitalize;
}

h1 {
  font-size: 3.5rem;
  font-weight: $semibold-weight;
  text-transform: capitalize;
}
h2 {
  font-size: 2rem;
  margin: 5px;
  font-weight: $light-weight;
}
h3 {
  font-size: 1.75rem;
  font-weight: $ultraLight-weight;
}
p {
  font-size: 1.25rem;
  font-weight: $regular-weight;
  line-height: 2rem;
  word-spacing: 0.2rem;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
@media only screen and (min-width: 2000px) {
  .intro-con,
  .header-con,
  .abt-wrapper {
    width: 2000px;
    margin: 0 auto;
  }
}
a {
  text-decoration: none;
  color: inherit;
}
/*button rules*/
.btn {
  display: block;
  cursor: pointer;
  padding: 10px 15px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 1.25rem;
  background-color: $primary-color;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  margin: 5px auto;
  transition: 0.25s;
  box-shadow: $box-shadow;
  &:focus-visible {
    outline: 4px dotted $secondary-color;
  }
  .link--btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &:hover {
    background-color: $secondary-color;
    transition: all 0.3s ease-in-out;
  }
  &:active {
    transform: translate(3px, 3px);
    box-shadow: none;
  }
}
.btn--secondary {
  color: $primary-color;
  background-color: white;
  border: 2px solid $primary-color;
  box-shadow: $box-shadow;
  &:hover {
    background-color: $primary-color;
    color: white;
  }
}

//general input rules
input[type=text], input[type=email], textarea {
  border: $input-border;
  font-family: inherit;
  background-color: $input-bgColor;
  border-radius: 2.5px;
  height: 3.25rem;
  padding-left: 10px;
  &:focus, &:focus-visible {
    border: 2px solid $primary-color;
    box-shadow: $input-focusColor;
    outline: 3px solid transparent;
  }
}
textarea {
  height: unset;
}




.text--hover--fx {
  background: linear-gradient(
    to bottom,
    $secondary-color 0%,
    $secondary-color 100%
  );
  background-position: 0 105%;
  background-repeat: repeat-x;
  background-size: 1px 1px;
  transition: background-size 0.2s;
  transition: all 0.2s linear;
  width: fit-content;
}
.text--hover--fx:hover {
  background-size: 4px 1.25rem;
}
.text--hover--fx.fx--tall:hover {
  background-size: 4px 2.75rem;
}

.side-bar {
  background-color: $primary-color;
  color: #fff;
  width: 60%;
  height: max-content;
  display: flex;
  flex-direction: row;
  padding: 30px 50px;
  margin-bottom: 150px;
  box-shadow: $box-shadow;
}
.side-bar--xl {
  width: 75%;
  padding: 30px 70px;
}
.side-bar--right {
  display: flex;
  justify-content: flex-end;
}

/*header styling*/
header {
  margin: 0 auto 7rem auto;
  width: 100%;
  height: 80px;
  font-size: 1.5rem;
  background-color: $primary-color;
  color: #fff;
  box-shadow: 0 3px 4px #0000004d;
  .header-con {
    margin: 0 15px;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  ul {
    text-transform: capitalize;
    display: inline-flex;
    align-items: stretch;
  }
  li {
    display: inline-block;
    margin-right: 10px;
  }
}

#intro--wrapper {
  margin-bottom: 200px;
  h1 {
    text-align: center;
  }
  .intro_text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5rem;
    .subtext-btn--wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    h2 {
      font-size: 1.75rem;
      font-weight: $light-weight;
      line-height: initial;
      margin-bottom: 10rem;
      height: auto;
    }

    button {
      align-self: flex-end;
      width: 225px;
    }
  }
}
.intro__title {
  font-size: 2.5rem;
  font-weight: 700;
  min-width: 275px;
}
.abt {
  margin-bottom: 150px;
}
.abt--text {
  margin-left: 15%;
  h1 {
    margin-bottom: 2.25rem;
  }
}
.services {
  margin-bottom: 250px;
  .title {
    text-align: center;
    margin-bottom: 4rem;
  }
  .grid {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto 5rem auto;
    .grid-item {
      text-align: center;
      padding: 15px;
      width: 80%;
      background-color: transparent;
      p {
        font-weight: $ultraLight-weight;
      }
    }
  }
  .btn {
    width: 250px;
  }
}
.works {
  .work-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 350px;
    margin: 10px auto 400px auto;
    p {
      font-weight: $light-weight;
    }
    .work-img {
      position: relative;
      flex: 0 1 60%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      width: 50%;

      img {
        position: absolute;
        transition: all 0.3s ease-in-out;
        background-clip: content-box;
        padding: 10px;
        // outline: $tB;
        &:hover {
          // left: 25%;
          transform: scale(1.1);
          z-index: 2;
        }
      }
      .work-img--tablet {
        left: 90px;
        z-index: 1;
      }
      .work-img--laptop {
        z-index: 0;
      }
      .work-img--phone {
        right: 100px;
        z-index: 1;
      }
    }
    .work-info {
      flex: 0 1 45%;
      margin-left: 5%;
      h2 {
        margin: 0 auto 50px auto;
      }
      .btn {
        width: 225px;
      }
    }
    .work-description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 70%;
    }
  }
  .work-container--right {
    flex-direction: row-reverse;
  }
}

.contact-container {
  border: $tB;
  padding-left: 5rem;
  .contact-subtitle {
    width: 550px;
  }
  h2 {
    font-weight: $semibold-weight;
    margin-left: 0;
  }
  .list {
    width: fit-content;
  }
  .li-item {
    margin: 25px 0;
    width: 125px;
    text-transform: capitalize;
    filter: brightness(80%);
    a {
      display: flex;
      align-items: center;
      font-weight: $semibold-weight;
      transition: $trans-3s;
      & > * {
        margin-right: 15px;
      }
      &:hover {
        filter: brightness(120%);
      }
    }
  }
}

.footer {
  width: 100%;
  height: auto;
  margin-bottom: -10px;
  position: relative;
  .footer_content-wrapper {
    position: relative;
    bottom: -135px;
  }
  .footer__img {
    width: 5em;
    height: auto;
    padding: 0;
    -webkit-filter: brightness(0.9);
    filter: brightness(0.9);
    &:hover {
      -webkit-filter: brightness(1.1);
      filter: brightness(1.1);
    }
  }
  .footer__ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    li {
      justify-content: center;
    }
  }
  .footer__icon {
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    padding-top: 50px;
  }
  .copywrite {
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-top: 50px;
    color: black;
    text-align: center;
  }
}

//responsive styling
@media only screen and (max-width: 1024px) {
  header {
    .header-cta {
      margin-right: 30px;
    }
    .header_profile {
      margin-left: 30px;
    }
  }
  #intro--wrapper {
    .intro_img-con {
      margin-left: 30px;
      img {
        position: relative;
        top: -50px;
      }
    }
    .intro_text {
      left: 45%;
      top: 200px;
    }
  }
  .abt-wrapper {
    .abt__text {
      font-size: 1.25rem;
      margin-right: 30px;
      margin-top: 10px;
    }
  }
}
@media only screen and (max-width: 730px) {
  header {
    .header_profile {
      margin-left: 15px;
      img {
        width: 75px;
      }
    }
    .header-cta {
      width: 100px;
      height: 25px;
      margin-right: 15px;
    }
  }
  #intro-wrapper {
    margin-top: 0;
    .intro_text {
      position: unset;
      margin-bottom: 45px;
    }
    .intro_img-con {
      margin: 0 auto;
      width: 100%;
      img {
        top: -30px;
        display: block;
        margin: 0 auto;
        width: 80%;
      }
    }
  }
  .abt {
    top: -140px;
    .abt-wrapper {
      .abt__text {
        max-width: unset;
        padding: 50px 5px 0 5px;
        text-align: center;
        margin: 10px auto;
        font-size: 1.5em;
        position: relative;
        top: 50px;
      }
    }
    .abt_bg {
      svg {
        height: 600px;
      }
    }
  }
  .work_wrapper {
    position: relative;
    top: 100px;
    #work-title_con {
      top: 0;
      margin-top: 100px;
      margin-bottom: -20px;
    }
    .work__title {
      white-space: unset;
      font-size: 2.5em;
    }
    #grid__container {
      grid-template-columns: 1fr;
      margin: 30px auto 100px auto;
      .work_card img {
        width: 20em;
        height: 12em;
        margin: 20px auto;
      }
    }
    .work__caption {
      margin: 0 auto;
    }
  }
  .footer {
    .footer__img {
      width: 4em;
    }
  }
}
@media only screen and (max-width: 425px) {
  .abt {
    .abt__text {
      font-size: 16px;
    }
  }
}
@media only screen and (max-width: 300px) {
  #intro-wrapper {
    .intro_img-con {
      img {
        top: -50px;
      }
    }
  }
  .abt {
    top: -115px;
    .abt__text {
      top: -5px;
    }
  }
  .work_wrapper {
    #grid__container {
      .work_card {
        img {
          width: 18em;
          height: 10em;
        }
      }
    }
  }
}
